<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
<section class="container text-center my-5">
    <h1>Flight Tracker</h1>
    <p>Welcome to Flight Tracker.</p>
    <a href="/flightslist" class="btn btn-primary btn-lg mt-3">Add/View Flights</a>
  </section>
    
<%- include Partials/footer.ejs%>